<!DOCTYPE html>
<html>
<head>
  <title>Nicholas Ray!</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
 
</head>
<body>
	 Nicholas Ray filmography
	 <%= link_to 'Add Film', new_film_path %>
<%= yield %>

</body>
</html>
